[uwsgi]

app_name = reportagens_app
app_folder = /srv/http/reportagens

chdir = %(app_folder)
venv = %(app_name)-venv
plugin = python

module = reportagens
callable = app

socket = uwsgi.sock
chmod-socket = 664